.profile_about{
    // display: flex;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: 'Roboto', sans-serif;
}

.profile_image{
    background: gray;
    border-radius: 12px;
}

.profile_info{
    margin: 3px 20px;

}

.profile_name{
    font-weight: 500;
    font-size: 25px;
}

.profile_life{
    font-weight: 400;
    font-size: 17px;

    color: gray;

    display: flex;
    // justify-content: center;
}

.Profile__about{
    width: 650px;

    margin: 20px 0;

    &--text{
        line-height: 1.5;
        margin-bottom: 20px;
    }

    &--visite{
        display: flex;
        align-items: center;

        width: 100px;
        justify-content: space-between;

        color: gray;
    }
}  